@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;600;700&display=swap');

body {
  padding: 0;
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

/* header */

header h1 {
  padding: 25px 40px;
  margin: 0;
  background-color: rgba(255, 174, 0, 0.788);
  color: white;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.315);
  font-family: Impact;
  font-weight: lighter;
}

/* createnote */
.main_note {
  box-shadow: 5px 5px rgba(0, 0, 0, 0.103), 0 0 5px 5px rgba(0, 0, 0, 0.062);
  margin: 40px auto;
  width: 350px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.main_note form input[type='text'] {
  outline: none;
  border: none;
  padding: 20px 15px;
  font-size: 1.5em;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 600;
}

.main_note form textarea {
  outline: none;
  border: none;
  padding: 0 15px;
  font-size: 1em;
  font-family: 'Josefin Sans', sans-serif;
}

form Button {
  width: 50px;
  height: 50px;
  position: relative;
  bottom: -30px;
  left: 300px;
  border-radius: 50%;
  outline: none;
  border: none;
}

form Button .plus_btn {
  color: rgba(255, 174, 0, 0.788);
  background-color: white;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.103);
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -ms-transition: 0.5s all;
  -o-transition: 0.5s all;
}
form Button .plus_btn:hover {
  background-color: rgba(255, 174, 0, 0.788);
  color: white;
}

/* note */

.note_div {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2em;
}

.note {
  box-shadow: 5px 5px rgba(0, 0, 0, 0.103), 0 0 5px 5px rgba(0, 0, 0, 0.062);
  width: 200px;
  padding: 20px;
  margin-left: 20px;
}

.note h1 {
  font-size: 1.5em;
}

.note button {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  outline: none;
  border: none;
  background-color: white;
  color: rgba(255, 174, 0, 0.788);
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.103);
  cursor: pointer;
  position: relative;
  left: 200px;
  top: 30px;
}

.note button:hover {
  color: white;
  background-color: rgba(255, 174, 0, 0.788);
}

/* footer  */
footer {
  position: relative;
  margin-top: 10%;
  width: 100%;
}

footer h4 {
  text-align: center;
}
